<footer class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <p>Copyright © | 2018 | VZW POWERCHAIR HOCKEY FOUNDATION | All rights reserved </br>In samenwerking met Rani Vanpoucke en Arteveldehogeschool</p>
                <p><img src="{{ site.baseurl }}/images/IcoonStraat.png" class="img-fluid footer_icoon_straat">Olmstraat 85, 8790 Waregem - België</p>
                <p><img src="{{ site.baseurl }}/images/IcoonSite.png" class="img-fluid footer_icoon">www.powerchairhockeyfoundation.be</p>
                <p><img src="{{ site.baseurl }}/images/IcoonMail.png" class="img-fluid footer_icoon">contact@powerchairhockeyfoundation.be</p>
                <p><img src="{{ site.baseurl }}/images/IcoonBel.png" class="img-fluid footer_icoon">An: 0479/609539 - Kenny: 0495/433313</p>
            </div>

            <div class="col-4"> <!--logos-->
                <img src="{{ site.baseurl }}/images/LogoWit.svg" class="img-fluid footer_logovzw">
                <img src="{{ site.baseurl }}/images/LogoArtevelde.png" class="img-fluid footer_logoschool">
            </div>
        </div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>