<nav class="navbar navbar-expand-md navbar-light bg-light nav">
    <div class="container"><!-- <<< verwijder als je navigatie over de ganse breedte wenst -->
        <a class="navbar-brand" href="#"><img src="{{ site.baseurl }}/images/LogoWit.svg" class="img-fluid"></a><!--logo-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavigation">

        <ul class="navbar-nav ml-auto">
        {%- for nav-item in site.data.navigation %}
        
            {%- capture item_classes %}{% if page.url contains nav-item.permalink %}active{% endif %}{% endcapture %}
            {%- if nav-item.folder %}
                
            {%- else %}
            <li class="nav-item {{ item_classes }}">
                    <a class="nav-link" href="/1718-3CMO-BaP-ranivanp/index" title="Home">
                        {{ nav-item.name }}
                    </a>
            </li>

            <li class="nav-item {{ item_classes }}">
                    <a class="nav-link" href="/1718-3CMO-BaP-ranivanp/stijlgids" title="Styleguide">
                        {{ nav-item.name }}
                    </a>
            </li>
            {%- endif %}

        {%- endfor %}
        </ul>

        </div>
    </div><!-- /div.container -->
</nav>